### The questions for the exercises are given above the cells and the expected output is given below the cell. Please type the code inserting a new cell below the question because if you run the expected output cell the output would vanish! Happy learning!

## Exercise Question 1: Given an input list removes the element at index 4 and add it to the 2nd position and also, at the end of the list

In [24]:
a= [34, 54, 67, 89, 11, 43, 94]
print("Original list : ", a  )
b=a.copy()
c=b.pop(4)
print("List After removing element at index 4", b)
b.insert(2,c)
print("List after Adding element at index 2", b)
#b.append(c)
b.extend([c])
'''extend is used add more than 1 item to a list.
append considers the given element as one item (either list or set or any complex types) and adds  the same at the end'''
print("List after Adding element at last",b )

Original list :  [34, 54, 67, 89, 11, 43, 94]
List After removing element at index 4 [34, 54, 67, 89, 43, 94]
List after Adding element at index 2 [34, 54, 11, 67, 89, 43, 94]
List after Adding element at last [34, 54, 11, 67, 89, 43, 94, 11]

Original list  [34, 54, 67, 89, 11, 43, 94]
List After removing element at index 4  [34, 54, 67, 89, 43, 94]
List after Adding element at index 2  [34, 54, 11, 67, 89, 43, 94]
List after Adding element at last  [34, 54, 11, 67, 89, 43, 94, 11]

## Exercise Question 2: Given a Python list you should be able to display Python list in the following order

In [30]:
a= [100, 200, 300, 400, 500]
print(" The Original List is: ", a)
a.sort(reverse=True)
print(" The Expected result is: ", a)

 The Original List is:  [100, 200, 300, 400, 500]
 The Expected result is:  [500, 400, 300, 200, 100]

The Original List is: [100, 200, 300, 400, 500]
The Expected result is:  [500, 400, 300, 200, 100]

## Exercise Question 3: Concatenate (join) two lists in the following order

In [45]:
a=['Hello ', 'take ']
print(" The original list1: ", a)
b=['Dear', 'Sir']
print(" The original list2: ", b)
a.extend(b)
#c=[*a,*b]
print(" The Expected result is: ", a)

 The original list1:  ['Hello ', 'take ']
 The original list2:  ['Dear', 'Sir']
 The Expected result is:  ['Hello ', 'take ', 'Dear', 'Sir']

The original list1: ['Hello ', 'take ']
The original list2: ['Dear', 'Sir']
The Expected result is: ['Hello ', 'take ', 'Dear', 'Sir']

## Exercise Question 4: Add item 7000 after 6000 in the following Python List

In [58]:
a= [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
print(" The original list is : ", a)
a[2][2].append(7000)
print(" The expected list is: ", a)

 The original list is :  [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
 The expected list is:  [10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

The original list is: [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
The expected list is: [10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

## Exercise Question 5: Given a nested list extend it with adding sub list ["h", "i", "j"] in a such a way that it will look like the

In [59]:
a=['a', 'b', ['c', ['d', 'e', ['f', 'g'], 'k'], 'l'], 'm', 'n']
print(" The original list is : ", a)
a[2][1][2].extend(['h', 'i', 'j'])
print(" The expected list is: ", a)

 The original list is :  ['a', 'b', ['c', ['d', 'e', ['f', 'g'], 'k'], 'l'], 'm', 'n']
 The expected list is:  ['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

The original List is: ['a', 'b', ['c', ['d', 'e', ['f', 'g'], 'k'], 'l'], 'm', 'n']
The expected result is: ['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

## Exercise Question 6: Given a Python list, find value 20 in the list, and if it is present, replace it with 200. Only update the first occurrence of a value

In [64]:
a= [5, 10, 15, 20, 25, 50, 20]
print(" The original list is : ", a)
b=a.index(20)
a[b]=200
print(" The expected output is: ", a)

 The original list is :  [5, 10, 15, 20, 25, 50, 20]
 The expected output is:  [5, 10, 15, 200, 25, 50, 20]

The original list is: [5, 10, 15, 20, 25, 50, 20]
The expected output is: [5, 10, 15, 200, 25, 50, 20]