## Exercise 1: Write a function to sort the list based on the first letter of the second element

lst=[(19542209, "New York") ,(4887871, "Alabama"), (1420491, "Hawaii"), (626299, "Vermont"), (1805832, "West Virginia"), (39865590, "California")]

In [2]:
lst=[(19542209, "New York") ,(4887871, "Alabama"), (1420491, "Hawaii"), (626299, "Vermont"), (1805832, "West Virginia"), (39865590, "California")]
print("Original list:",lst)
lst.sort(key=lambda lst:lst[1])
print("Sorted list:",lst)

Original list: [(19542209, 'New York'), (4887871, 'Alabama'), (1420491, 'Hawaii'), (626299, 'Vermont'), (1805832, 'West Virginia'), (39865590, 'California')]
Sorted list: [(4887871, 'Alabama'), (39865590, 'California'), (1420491, 'Hawaii'), (19542209, 'New York'), (626299, 'Vermont'), (1805832, 'West Virginia')]

Original list: [(19542209, 'New York'), (4887871, 'Alabama'), (1420491, 'Hawaii'), (626299, 'Vermont'), (1805832, 'West Virginia'), (39865590, 'California')]
Sorted list: [(4887871, 'Alabama'), (39865590, 'California'), (1420491, 'Hawaii'), (19542209, 'New York'), (626299, 'Vermont'), (1805832, 'West Virginia')]

## Exercise 2:  Write a function to sort the list based on the last letter of the second element

Use list from previous question

In [14]:
from operator import itemgetter
lst1=[(19542209, "New York") ,(4887871, "Alabama"), (1420491, "Hawaii"), (626299, "Vermont"), (1805832, "West Virginia"), (39865590, "California")]
print("Original list:",lst1)
#result = sorted(lst1, key=itemgetter(-1))
lst1.sort(key=lambda lst:lst[1][-1])
print("Sorted list:",lst1)

Original list: [(19542209, 'New York'), (4887871, 'Alabama'), (1420491, 'Hawaii'), (626299, 'Vermont'), (1805832, 'West Virginia'), (39865590, 'California')]
Sorted list: [(4887871, 'Alabama'), (1805832, 'West Virginia'), (39865590, 'California'), (1420491, 'Hawaii'), (19542209, 'New York'), (626299, 'Vermont')]

Original list [(19542209, 'New York'), (4887871, 'Alabama'), (1420491, 'Hawaii'), (626299, 'Vermont'), (1805832, 'West Virginia'), (39865590, 'California')]
Sorted list [(4887871, 'Alabama'), (1805832, 'West Virginia'), (39865590, 'California'), (1420491, 'Hawaii'), (19542209, 'New York'), (626299, 'Vermont')]

## Exercise 3: Create a range from 1 to 8 merge the given list and together to create a new list of tuples.

lst1=["Energy", "Agriculture", "Industry", "Technology", "Finance", "Forestry", "Transport"]

In [3]:
lst2=["Energy", "Agriculture", "Industry", "Technology", "Finance", "Forestry", "Transport"]
lst3=range(1,8)
lst4=list(zip(lst2,lst3))
lst4

[('Energy', 1),
 ('Agriculture', 2),
 ('Industry', 3),
 ('Technology', 4),
 ('Finance', 5),
 ('Forestry', 6),
 ('Transport', 7)]

[('Energy', 1), ('Agriculture', 2), ('Industry', 3), ('Technology', 4), ('Finance', 5), ('Forestry', 6), ('Transport', 7)]

## Exercise 4: Write a function and create a list consisted of the number of occurence of letter: a (all a's).

lst1=["Antartica", "America", "Armania", "Australia", "Albania", "Afganistan","Alaska"]

In [141]:
from collections import Counter
lst1=["Antartica", "America", "Armania", "Australia", "Albania", "Afganistan","Alaska"]
#counter = [ Counter(str.lower(i))  for i in lst1   ]
#counter = [ Counter(k) for i in lst1  for k in str.lower(i) if k=='a' ]
#counter = [ i for i in lst1 for k in str(i) if k.lower=='a' ]
#print(type(counter))

def count_a(lst1):
    count=0
    for j in lst1:
        if (j.lower() =='a'):
            count=count+1
    return(count)
  
list(map(count_a,lst1))

[3, 2, 3, 3, 3, 3, 3]

In [117]:
from collections import Counter
lst1=["Antartica", "America", "Armania", "Australia", "Albania", "Afganistan","Alaska"]
for i in lst1:
    counter=Counter(str.lower(i))
    print(counter)

Counter({'a': 3, 't': 2, 'n': 1, 'r': 1, 'i': 1, 'c': 1})
Counter({'a': 2, 'm': 1, 'e': 1, 'r': 1, 'i': 1, 'c': 1})
Counter({'a': 3, 'r': 1, 'm': 1, 'n': 1, 'i': 1})
Counter({'a': 3, 'u': 1, 's': 1, 't': 1, 'r': 1, 'l': 1, 'i': 1})
Counter({'a': 3, 'l': 1, 'b': 1, 'n': 1, 'i': 1})
Counter({'a': 3, 'n': 2, 'f': 1, 'g': 1, 'i': 1, 's': 1, 't': 1})
Counter({'a': 3, 'l': 1, 's': 1, 'k': 1})

[3, 2, 3, 3, 3, 3, 3]

## Exercise 5: Write a function filter all the vowels in a given string using filter.

str1="Inceptz is one of the best institutes to read data science in chennai"

In [147]:
str1="Inceptz is one of the best institutes to read data science in chennai"
vowels=['a','e','i','o','u']
a=[ i for i in str1 for k in i.lower() if k in vowels ]
print(a)

['I', 'e', 'i', 'o', 'e', 'o', 'e', 'e', 'i', 'i', 'u', 'e', 'o', 'e', 'a', 'a', 'a', 'i', 'e', 'e', 'i', 'e', 'a', 'i']

['I', 'e', 'i', 'o', 'e', 'o', 'e', 'e', 'i', 'i', 'u', 'e', 'o', 'e', 'a', 'a', 'a', 'i', 'e', 'e', 'i', 'e', 'a', 'i']

## Exercise 6:  Write a function to create a list as the square of elements from the given list if the square is greater than 60

lst1=[5, 6, 7 , 8, 9, 10, 12, 14]

In [146]:
lst1=[5, 6, 7 , 8, 9, 10, 12, 14]
def square_elements(lst):
    sqr=[ i*i  for i in lst  if i*i>60 ]
    return sqr

list2=square_elements(lst1)
list2

[64, 81, 100, 144, 196]

In [94]:
lst1=[5, 6, 7 , 8, 9, 10, 12, 14]
x=lambda a: a*a
list2=list(map(a,lst1))
sqr_filter= [ i for i in list2 if i>60]
sqr_filter

[64, 81, 100, 144, 196]

[64, 81, 100, 144, 196]

## Exercise 7: take the words given below as list and write a function and use reduce to make it a sentence
Inceptz 

provides

the

best

inclass 

trainings 

and

is 

the 

best

In [108]:
from functools import reduce
lst_str=['Inceptz','provides','the','best','inclass','trainings','and','is','the','best']
lst_str

def concat_str(first,second):
    return first+' '+second

concat_value=reduce(concat_str,lst_str)
concat_value

'Inceptz provides the best inclass trainings and is the best'

'Inceptez provides the best inclass trainings and is the best'